alias oldssh='ssh -oKexAlgorithms=+diffie-hellman-group1-sha1'
alias texoma='caffeinate -i ssh root@texoma.vcompute.com'
alias travis='caffeinate -i ssh root@travis.vcompute.com'
alias caddo='caffeinate -i ssh shawn@caddo.vcompute.com'
alias zabbix='caffeinate -i ssh root@zabbix.vcompute.com'
alias pm1='caffeinate -i ssh root@pm1.vcompute.com'
alias pm2='caffeinate -i ssh root@pm2.vcompute.com'
alias pm3='caffeinate -i ssh root@pm3.vcompute.com'
alias pbs='caffeinate -i ssh root@pbs.vcompute.com'
alias observium='caffeinate -i ssh root@observium.vcompute.com'
alias geoe='ssh shawn@mail.geoenergycorp.com'
alias mailg='ssh -Y root@mail.geoenergycorp.com'
alias nas='caffeinate -i ssh -F /dev/null sshd@192.168.1.200'
alias box='caffeinate -i ssh -Y shawn@192.168.1.100'
alias home='caffeinate -i ssh -p 4444 -Y pi@box.stephens.me'
alias stephensme='ssh stephens.me@ssh.gb.stackcp.com'
alias easywget='wget -c --no-check-certificate --user=shawn174 --password=SRV1rules!'
alias dnsflush='sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder'
alias showdotfiles='defaults write com.apple.finder AppleShowAllFiles TRUE; killall Finder'
alias hidedotfiles='defaults write com.apple.finder AppleShowAllFiles FALSE; killall Finder'
alias ipaddr='curl ifconfig.me;echo'
